<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cobuildit Inventory System</title>
	<link rel="stylesheet" href="/css/dashboard_style.css">
	<link rel="stylesheet" href="/css/essentiaForms.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>


	<script src="/js/inventoryJs.js"></script>
	<script src="/js/materialsApi.js"></script>
</head>

<body>
	<input type="checkbox" id="check">
	<!--header area start-->
	<div class="top">...</div>
	<header>
		<label for="check">
			<i class="fas fa-bars" id="sidebar_btn"></i>
		</label>

		<div class="right_area">
			<a href="/notification" class="logout_btn"><i class="far fa-bell color"></i></a>
			<a href="#" class="logout_btn">
				<i class="far fa-comment-dots color"></i>
			</a>
		</div>
	</header>
	<!--header area end-->

	<!--mobile navigation bar start-->
	<div class="mobile_nav">
		<div class="nav_bar">
			<img src="/img/download.png" class="mobile_profile_image" alt="">
			<i class="fa fa-bars nav_btn" id="getMenu" onclick="openMenu(getMenu, dropMenu);"></i>
		</div>

		<div class="mobile_nav_items" id="dropMenu">
			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-city"></i>
					<a href="/welcome">Dashboard</a>
				</span>
			</div>

			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-city"></i>
					Essentia &#8594
					{{!-- <b class="caret" id="caret"></b> --}}
				</span>
				<li>
					<ul class="project_actions">
						<p><a href="/projects/essentia/essentia-forms">Create new report</a></p>
						<p><a href="/projects/lifestyle-list">View all reports</a></p>
					</ul>
				</li>
			</div>

			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-warehouse"></i>
					Regency &#8594
					{{!-- <b class="caret" id="caret"></b> --}}
				</span>
				<li>
					<ul class="project_actions">
						<p><a href="/projects/regency/regency-forms">Create new report</a></p>
						<p><a href="/projects/regency/regency-list">View all reports</a></p>
					</ul>
				</li>
			</div>

			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-hospital"></i>
					Zephyr &#8594
					{{!-- <b class="caret" id="caret"></b> --}}
				</span>
				<li>
					<ul class="project_actions">
						<p><a href="/projects/zephyr/zephyr-forms">Create new report</a></p>
						<p><a href="/projects/zephyr/zephyr-list">View all reports</a></p>
					</ul>
				</li>
			</div>

			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-hotel"></i>
					Lifestyle &#8594
					{{!-- <b class="caret" id="caret"></b> --}}
				</span>
				<li>
					<ul class="project_actions">
						<p><a href="#">Create new report</a></p>
						<p><a href="/projects/lifestyle/lifestyle-list">View all reports</a></p>
					</ul>
				</li>
			</div>

			{{!-- Logout --}}
			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-hospital"></i>
					<a href="/logout">Logout</a>
				</span>
			</div>
		</div>
	</div>
	<!--mobile navigation bar end-->
	<!--sidebar start-->
	<div class="sidebar">
		<div class="logo">
			<img src="/img/inv-white.png" />
		</div>
		<div class="profile_info">
			<img src="/img/download.png" class="profile_image" alt="">
			<h4>{{ username }}</h4>{{!-- name should be updated from the db here--}}
		</div>

		<div class="sidebar-items">
			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-desktop"></i>
					<a href="/welcome">Dashboard</a>
				</span>
			</div>

			{{!-- PROJECTS LISTING --}}
			{{!-- Essentia Project --}}
			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-city"></i>
					Essentia &#8594
					{{!-- <b class="caret" id="caret"></b> --}}
				</span>
				<li>
					<ul class="project_actions">
						<p>
							<a href="/projects/essentia/essentia-forms">Create new report</a>
						</p>
						<p><a href="/projects/essentia/essentia-list">View all reports</a></p>
					</ul>
				</li>
			</div>

			{{!-- Regency Project --}}
			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-warehouse"></i>
					Regency &#8594
				</span>
				<li>
					<ul class="project_actions">
						<p><a href="/projects/regency/regency-forms">Create new report</a></p>
						<p><a href="/projects/regency/regency-list">View all reports</a></p>
					</ul>
				</li>
			</div>

			{{!-- LifeStyle --}}
			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-hotel"></i>
					Lifestyle &#8594
				</span>
				<li>
					<ul class="project_actions">
						<p><a href="#">Create new report</a></p>
						<p><a href="/projects/lifestyle/lifestyle-list">View all reports</a></p>
					</ul>
				</li>
			</div>

			{{!-- Zephyr Project --}}
			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-hospital"></i>
					Zephyr &#8594
				</span>
				<li>
					<ul class="project_actions">
						<p><a href="/projects/zephyr/zephyr-forms">Create new report</a></p>
						<p><a href="/projects/zephyr-list">View all reports</a></p>
					</ul>
				</li>
			</div>

			{{!-- Logout --}}
			<div class="items">
				<span class="project_dropdown">
					<i class="fa fa-sign-out-alt"></i>
					<a href="/logout">Logout</a>
				</span>
			</div>

		</div>
	</div>
	<!--sidebar end-->

	{{!-- content display container start --}}
	<div class="content" id="content">
		<div class="content-holder">

		</div>

		{{!-- form fields --}}
		<div class="main-container">
			<div class="first-layer">
				<h2><b>Lifestyle Project</b></h2>
				<hr>

				{{!-- breadcrumbs --}}
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item"><a href="/welcome">Dashboard</a></li>
					<li class="breadcrumb-item active">Lifestyle Forms</li>
				</ol>
			</div>

			<div class="tabs">
				<div class="menu-items">
					<div class="tablink" id="defaultOpen" onclick="openPage('usage', this)">
						<i class="fas fa-circle"></i>
						<p>Material Usage</p>
					</div>

					<div class="tablink" onclick="openPage('materials', this)">
						<i class="fas fa-circle"></i>
						<p>Materials</p>
					</div>

					<div class="tablink" onclick="openPage('equipments', this)">
						<i class="fas fa-circle"></i>
						<p>Equipments</p>
					</div>
				</div>
			</div>

			{{!-- lifestyle daily usage form panel --}}
			<div class="tab-display">
				<div id="usage" class="tabcontent">
					<form action="lifestyle-forms" method="POST" autocomplete="off">
						<input type="hidden" name="_id" value="1" />
						<div id="dailyUsage" class="w3-container">
							<h4>Lifestyle Daily Usage Report</h4>

							<div class="clonedInputFence" id="inputFence1">
								<div class="main-fields">
									{{!-- category of material --}}
									<div class="form-group col-md-6">
										<label>Category of Material</label>
										<select name="category" value="" id="lifeCat" onclick="loadMaterial(lifeCat, lifeSubcat, lifeItem);"
											class="form-control">
											<option value="" selected="selected">Choose Category of materialItems
											</option>
										</select>
										{{!-- empty field error display --}}
										{{!-- <i style="color:brown">{{materialItems.categoryError}}</i><br /> --}}
									</div>

									{{!-- sub category of materil --}}
									<div class="form-group col-md-6">
										<label>Sub Category:</label>
										<select name="subCategory" value="" id="lifeSubcat" class="form-control">
											<option value="" selected="selected">Please select Category first
											</option>
										</select>
										{{!-- error display --}}
										<i style="color: brown">{{materialItems.subCategoryError}}</i><br>
									</div>

									<div class="form-row">
										{{!-- item field --}}
										<div class="form-group col-md-6">
											<label for="item">Item</label>
											<select name="item" value="" id="lifeItem" class="form-control">
												<option value="" selected="selected">Please select sub-category first
												</option>
											</select>
											{{!-- error display --}}
											<i style="color: brown">{{materialItems.itemError}}</i>
										</div>

										{{!-- quantity --}}
										<div class="form-group col-md-4">
											<label for="inputQuantity">Quantity</label>
											<input type="text" name="quantity" id="inputQuantity" class="form-control" value=""
												placeholder="Enter material quantity" />
											{{!-- error display --}}
											{{!-- <i style="color: brown;">{{materialItems.quantityError}}</i> --}}

										</div>

										{{!-- value --}}
										<div class="form-group col-md-2">
											<label for="inputZip">Value</label>
											<select name="desc" value="" id="selectsubCategory" class="form-control">
												<option material-desc-value="">Select Value</option>
												<option material-desc-value="tons">Tons</option>

												<option material-desc-value="inches">Inches</option>

												<option material-desc-value="packets">Packet(s)</option>

												<option material-desc-value="bags">Bag(s)</option>

												<option material-desc-value="watt">Watts</option>

												<option material-desc-value="carton">Carton(s)</option>
												<option material-desc-value="litres">Litre(s)</option>

												<option material-date-value="mm">Millimeter</option>
												<option material-desc-value="trip">Trip(s)</option>
												<option material-desc-value="length">Length</option>
												<option material-desc-value="roll">Roll(s)</option>
											</select>
											{{!-- error display --}}
											{{!-- <i style="color: brown">{{materialItems.descError}}</i> --}}
										</div>
									</div>
								</div>
								<div class="other-inputs">
									{{!-- purpose --}}
									<div class="form-group">
										<label for="inputPurpose">Purpose</label>
										<input type="text" name="purpose" value="" class="form-control altered" id="inputPurpose"
											placeholder="Purpose of this material">
										{{!-- error display --}}
										{{!-- <i style="color: brown">{{materialItems.purposeError}}</i> --}}
									</div>


									<div class="form-group">
										<label for="remarks">Remarks</label>
										<textarea class="form-control" id="remarks" value="" name="remarks"
											placeholder="Got something to say about this?"></textarea>
									</div>
								</div>
							</div>

							<div class="control">
								<i class="fa fa-plus" id="btnAddFence" title="add more field"> add more field</i>
							</div>
						</div>

						<div class="submit-button">
							<input type="submit" class="btn btn-primary mine-sub" />
						</div>
					</form>
				</div>

				{{!-- essentia material form panel --}}
				<div id="materials" class="tabcontent">
					<form action="/essentia-forms" method="POST" autocomplete="off">
						<input type="hidden" name="_id" value="{{materialItems._id}}">
						<div id="materials" class="w3-container">
							<h4>Record newly supplied material</h4>
							<div class="warningTitle" style="margin-bottom: 1rem; color:brown;"><b>{{warningError}}</b>
							</div>

							<div class="clonedInputFence" id="inputFence1">
								<div class="main-fields">
									{{!-- category of material --}}
									<div class="form-group col-md-6">
										<label>Category of Material</label>
										<select name="category" value="{{materialItems.category}}" id="Mcategory"
											onclick="loadMaterial(Mcategory, MsubCat, Mitems);" class="form-control">
											<option value="" selected="selected">Choose Category of materialItems
											</option>
										</select>
										{{!-- empty field error display --}}
										<i style="color:brown">{{materialItems.categoryError}}</i><br />
									</div>


									{{!-- sub category of materil --}}
									<div class="form-group col-md-6">
										<label>Sub Category:</label>
										<select name="subCategory" value="{{materialItems.subCategory}}" id="MsubCat" class="form-control">
											<option value="" selected="selected">Please select Category first
											</option>
										</select>
										{{!-- error display --}}
										<i style="color: brown">{{materialItems.subCategoryError}}</i><br>
									</div>

									<div class="form-row">
										{{!-- item field --}}
										<div class="form-group col-md-6">
											<label for="item">Item</label>
											<select name="item" value="{{materialItems.item}}" id="Mitems" class="form-control">
												<option value="" selected="selected">Please select sub-category first
												</option>
											</select>
											{{!-- error display --}}
											<i style="color: brown">{{materialItems.itemError}}</i>
										</div>

										{{!-- quantity --}}
										<div class="form-group col-md-4">
											<label for="inputQuantity">Quantity</label>
											<input type="text" name="quantity" id="inputQuantity" class="form-control"
												value="{{materialItems.quantity}}" placeholder="Enter material quantity" />
											{{!-- error display --}}
											<i style="color: brown;">{{materialItems.quantityError}}</i>

										</div>

										{{!-- value --}}
										<div class="form-group col-md-2">
											<label for="inputZip">Value</label>
											<select name="desc" value="{{materialItems.desc}}" id="selectsubCategory" class="form-control">
												<option material-desc-value="">Select Value</option>
												<option material-desc-value="tons">Tons</option>

												<option material-desc-value="inches">Inches</option>

												<option material-desc-value="packets">Packet(s)</option>

												<option material-desc-value="bags">Bag(s)</option>

												<option material-desc-value="watt">Watts</option>

												<option material-desc-value="carton">Carton(s)</option>

												<option material-date-value="mm">Millimeter</option>
												<option material-date-value="liters">Litres</option>
												<option material-desc-value="trip">Trip(s)</option>
												<option material-desc-value="length">Length</option>
												<option material-desc-value="roll">Roll(s)</option>
											</select>
											{{!-- error display --}}
											<i style="color: brown">{{materialItems.descError}}</i>
										</div>
									</div>
								</div>
								<div class="other-inputs">
									{{!-- purpose --}}
									<div class="form-group">
										<label for="inputPurpose">Purpose</label>
										<input type="text" name="purpose" value="{{materialItems.purpose}}" class="form-control altered"
											id="inputPurpose" placeholder="Purpose of this material">
										{{!-- error display --}}
										<i style="color: brown">{{materialItems.purposeError}}</i>
									</div>


									<div class="form-group">
										<label for="remarks">Remarks</label>
										<textarea class="form-control" id="remarks" value="{{materialItems.remarks}}" name="remarks"
											placeholder="Got something to say about this?"></textarea>
									</div>
								</div>
							</div>

							<div class="control">
								<i class="fa fa-plus" id="btnAddFence" title="add more field"> add more field</i>
							</div>
						</div>

						<div class="submit-button">
							<input type="submit" class="btn btn-primary mine-sub" />
						</div>
					</form>
				</div>

				{{!-- essentia Equipment form panel --}}
				<div id="equipments" class="tabcontent">
					<form>
						<div id="materials" class="w3-container">
							<h4>Record New Equipment</h4>
							<div class="clonedInputFence" id="inputFence1">
								<div class="main-fields">
								</div>

								<div class="other-inputs">
									<div class="form-group">
										<label for="title">Equipment Title</label>
										<input type="text" class="form-control altered" id="inputDesc" placeholder="Enter Equipment Title">
									</div>

									{{!-- description --}}
									<div class="form-group">
										<label for="quantity">Quantity</label>
										<input type="text" class="form-control altered" id="inputDesc" placeholder="How many of the above">
									</div>

									{{!-- purpose --}}
									<div class="form-group">
										<label for="condition">Condition</label>
										<select name="condition" class="form-control" style="padding: -2rem;">
											<option value="">Choose Condition of this equipment....</option>
											<option value="good" name="good">Good</option>
											<option value="fair" name="fair">Fair</option>
											<option value="bad" name="bad">Bad</option>
										</select>
									</div>


									<div class="form-group">
										<label for="remarks">Remarks</label>
										<textarea class="form-control" id="remarks" name="remarks"
											placeholder="Got something to say about this?"></textarea>
									</div>
								</div>
							</div>

							<div class="control">
								<i class="fa fa-plus" id="btnAddFence" title="add more field"> add more field</i>
							</div>
						</div>

						<div class="submit-button">
							<input type="submit" class="btn btn-primary mine-sub" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>

{{!-- the tab dots control --}}
<script>
	function openPage(pageName, elmnt, color) {
		var i, tabcontent, tablinks;
		tabcontent = document.getElementsByClassName("tabcontent");
		for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		}
		tablinks = document.getElementsByClassName("tablink");
		for (i = 0; i < tablinks.length; i++) {
			tablinks[i].style.color = "";
		}
		document.getElementById(pageName).style.display = "block";
		elmnt.style.color = '#483D8B';
	}

	// Get the element with id="defaultOpen" and click on it
	document.getElementById("defaultOpen").click();
</script>