<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cobuildit Inventory System</title>
	<link rel="stylesheet" href="/css/dashboard_style.css">
	<link rel="stylesheet" href="/css/list.css" />
	<link rel="stylesheet" href="/css/options.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>

	{{!-- for table search function --}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
	<input type="checkbox" id="check">
	<!--header area start-->
	<div class="top">...</div>
	<header>
		<label for="check">
			<i class="fas fa-bars" id="sidebar_btn"></i>
		</label>

		<div class="right_area">
			<a href="/notification" class="logout_btn"><i class="far fa-bell color"></i></a>
			<a href="#" class="logout_btn">
				<i class="far fa-comment-dots color"></i>
			</a>
		</div>
	</header>
	<!--header area end-->
	<!--mobile navigation bar start-->
	<div class="mobile_nav">
		<div class="nav_bar">
			<img src="/img/download.png" class="mobile_profile_image" alt="">
			<i class="fa fa-bars nav_btn"></i>
		</div>

		<div class="mobile_nav_items">
			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-city"></i>
					<a href="/welcome">Dashboard</a>
				</span>
			</div>

			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-city"></i>
					Essentia &#8594
					{{!-- <b class="caret" id="caret"></b> --}}
				</span>
				<li>
					<ul class="project_actions">
						<p><a href="#">Create new report</a></p>
						<p><a href="/projects/essentia/list">View all reports</a></p>
					</ul>
				</li>
			</div>

			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-warehouse"></i>
					Regency &#8594
					{{!-- <b class="caret" id="caret"></b> --}}
				</span>
				<li>
					<ul class="project_actions">
						<p><a href="#">Create new report</a></p>
						<p><a href="#">View all reports</a></p>
					</ul>
				</li>
			</div>

			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-hospital"></i>
					Zephyr &#8594
					{{!-- <b class="caret" id="caret"></b> --}}
				</span>
				<li>
					<ul class="project_actions">
						<p><a href="#">Create new report</a></p>
						<p><a href="#">View all reports</a></p>
					</ul>
				</li>
			</div>

			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-hotel"></i>
					Lifestyle &#8594
					{{!-- <b class="caret" id="caret"></b> --}}
				</span>
				<li>
					<ul class="project_actions">
						<p><a href="#">Create new report</a></p>
						<p><a href="#">View all reports</a></p>
					</ul>
				</li>
			</div>

			{{!-- Logout --}}
			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-hospital"></i>
					<a href="/logout">Logout</a>
				</span>
			</div>
		</div>
	</div>
	<!--mobile navigation bar end-->
	<!--sidebar start-->
	<div class="sidebar">
		<div class="logo">
			<img src="/img/inv-white.png" />
		</div>
		<div class="profile_info">
			<img src="/img/download.png" class="profile_image" alt="">
			<h4>{{ username }}</h4>{{!-- name should be updated from the db here--}}
		</div>

		<div class="sidebar-items">
			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-desktop"></i>
					<a href="/welcome">Dashboard</a>
				</span>
			</div>

			{{!-- PROJECTS LISTING --}}
			{{!-- Essentia Project --}}
			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-city"></i>
					Essentia &#8594
					{{!-- <b class="caret" id="caret"></b> --}}
				</span>
				<li>
					<ul class="project_actions">
						<p>
							<a href="/projects/essentia/essentia-forms">Create new report</a>
						</p>
						<p><a href="/projects/essentia/list">View all reports</a></p>
					</ul>
				</li>
			</div>

			{{!-- Regency Project --}}
			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-warehouse"></i>
					Regency &#8594
				</span>
				<li>
					<ul class="project_actions">
						<p><a href="#">Create new report</a></p>
						<p><a href="#">View all reports</a></p>
					</ul>
				</li>
			</div>

			{{!-- LifeStyle --}}
			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-hotel"></i>
					Lifestyle &#8594
				</span>
				<li>
					<ul class="project_actions">
						<p><a href="#">Create new report</a></p>
						<p><a href="#">View all reports</a></p>
					</ul>
				</li>
			</div>

			{{!-- Zephyr Project --}}
			<div class="items">
				<span class="project_dropdown">
					<i class="fas fa-hospital"></i>
					Zephyr &#8594
				</span>
				<li>
					<ul class="project_actions">
						<p><a href="#">Create new report</a></p>
						<p><a href="#">View all reports</a></p>
					</ul>
				</li>
			</div>

			{{!-- Logout --}}
			<div class="items">
				<span class="project_dropdown">
					<i class="fa fa-sign-out-alt"></i>
					<a href="/logout">Logout</a>
				</span>
			</div>

		</div>
	</div>
	<!--sidebar end-->

	{{!-- content display container start --}}
	<div class="content" id="content">
		<div class="content-holder">

		</div>

		{{!-- form fields --}}
		<div class="main-container">
			<div class="first-layer">
				<h2><b>Essentia all reports</b>
					<hr>
				</h2>
				{{!-- breadcrumbs --}}
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item">
						<a href="/welcome">Dashboard</a>
					</li>
					<li class="breadcrumb-item">
						<a href="/projects/essentia/essentia-forms">Essentia</a>
					</li>
					<li class="breadcrumb-item active">All reports</li>
				</ol>
			</div>

			<div class="tabs">
				<div class="menu-items">
					<div class="tablink" id="defaultOpen" onclick="openPage('usage', this)">
						{{!-- <i class="fas fa-circle"></i> --}}
						<p><b>Usage</b></p>
					</div>

					<div class="tablink" onclick="openPage('materials', this)">
						{{!-- <i class="fas fa-circle"></i> --}}
						<p><b>Materials</b></p>
					</div>

					<div class="tablink" onclick="openPage('equipments', this)">
						{{!-- <i class="fas fa-circle"></i> --}}
						<p><b>Equipments</b></p>
					</div>
				</div>
			</div>

			{{!-- essentia daily usage list --}}
			<div class="tab-display">
				<div id="usage" class="tabcontent">
					<h4>Essentia Usage Report list</h4>
					{{!-- SEARCH FUNCTION --}}
					<div class="search-container">
						{{!-- search --}}
						<div class="search-bar">
							<input type="text" id="EdailyUsageSearch" class="form-contro search" placeholder="Search Table... ">
						</div>
					</div>
					<div class="table" style="overflow-x:auto;">
						<table table id="myTable" class="display" cellspacing="0" width="100%">
							<thead class="table-head">
								<tr>
									<th>S/N</th>
									<th>Date</th>
									<th>Category</th>
									<th>Sub-Category</th>
									<th>Item</th>
									<th>Desc.</th>
									<th>Qty</th>
									<th>Purpose</th>
									<th>Remarks</th>
									<th>Options</th>
								</tr>
							</thead>

							<tbody id="EdailyUsageTable" class="table-content">
								{{!-- {{#each list}} --}}
								<tr>
									<td>{{this.id}}</td>
									<td>{{this.date.now}}</td>
									<td>{{this.category}}</td>
									<td>{{this.subCategory}}</td>
									<td>{{this.item}}</td>
									<td>{{this.desc}}</td>
									<td>{{this.quantity}}</td>
									<td>{{this.purpose}}</td>
									<td>{{this.remarks}}</td>
									<td>
										<div class="table-list">
											<span class="option-dropdown">
												<i class="fa fa-ellipsis-v option"></i>
											</span>
											<li>
												<div class="option-items">
													<a href="#">View report</a><br />
													<a href="#">Delete report</a><br />
													<a herf="#">Update report</a><br />
												</div>
											</li>
										</div>
									</td>
								</tr>
								{{!-- {{/each}} --}}
							</tbody>
						</table>
					</div>
					{{!-- search table --}}
					<script>
						$(document).ready(function () {
							$("#EdailyUsageSearch").on("keyup", function () {
								var value = $(this).val().toLowerCase();
								$("#EdailyUsageTable tr").filter(function () {
									$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
								});
							});
						});
					</script>
				</div>


				{{!-- ESSENTIA MATERIAL LIST --}}
				<div id="materials" class="tabcontent">
					<h4>Essentia Material List</h4>
					{{!-- Search table container --}}
					<div class="search-container">
						{{!-- search input--}}
						<div class="search-bar">
							<input type="text" id="materialTableSearch" class="form-contro sort" placeholder="Search Materials..">
						</div>
					</div>
					<div class="table" style="overflow-x:auto;">
						<table table id="myTable" class="display" cellspacing="0" width="100%">
							<thead class="table-head">
								<tr>
									<th>S/N</th>
									<th>Date</th>
									<th>Category</th>
									<th>Sub-Category</th>
									<th>Item</th>
									<th>Desc.</th>
									<th>Qty</th>
									<th>Purpose</th>
									<th>Remarks</th>
									<th>Options</th>
								</tr>
							</thead>

							<tbody id="materialTable" class="table-content">
								{{#each list}}
								<tr>
									<td>{{this.id}}</td>
									{{!-- <td>02/02/2021</td> --}}
									<td>{{this.date}}</td>
									<td>{{this.category}}</td>
									<td>{{this.subCategory}}</td>
									<td>{{this.item}}</td>
									<td>{{this.desc}}</td>
									<td>{{this.quantity}}</td>
									<td>{{this.purpose}}</td>
									<td>{{this.remarks}}</td>
									<td>
										<div class="table-list">
											<span class="option-dropdown">
												<i class="fa fa-ellipsis-v option"></i>
											</span>
											<li>
												<div class="option-items">
													<a href="#">View report</a><br />
													<a href="#">Delete report</a><br />
													<a herf="#">Update report</a><br />
												</div>
											</li>
										</div>
									</td>
								</tr>
								{{/each}}
							</tbody>
							{{!-- search table --}}
							<script>
								$(document).ready(function () {
									$("#materialTableSearch").on("keyup", function () {
										var value = $(this).val().toLowerCase();
										$("#materialTable tr").filter(function () {
											$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
										});
									});
								});
							</script>
						</table>
					</div>
				</div>

				{{!-- essentia Equipment list --}}
				<div id="equipments" class="tabcontent">
					<h4>Essentia Equipment List</h4>

					<div class="card mb-4">
						<div class="card-header" style="padding: 2rem;">
							<p style="text-align: center">Project equipments coming soon</p>
						</div>

						<div class="card-body">
							<div class="table-responsive">

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</body>

{{!-- the tab dots control --}}
<script>
	function openPage(pageName, elmnt, color) {
		var i, tabcontent, tablinks;
		tabcontent = document.getElementsByClassName("tabcontent");
		for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		}
		tablinks = document.getElementsByClassName("tablink");
		for (i = 0; i < tablinks.length; i++) {
			tablinks[i].style.color = "";
			tablinks[i].style.borderBottom = "";
		}
		document.getElementById(pageName).style.display = "block";
		elmnt.style.color = '#4682B4';
		elmnt.style.borderBottom = "2px solid";
	}

	// Get the element with id="defaultOpen" and click on it
	document.getElementById("defaultOpen").click();
</script>

<script>
	$(document).ready(function () {
		$("#items a").click(function (e) {
			e.preventDefault();
			$('#content').load($(this).attr('href'));
		});
	});
</script>

{{!-- for inner item display withing the table --}}
<script>
	$(function () {
		$('.option-dropdown').on('click', function () {
			var options = $(this).next().find('.option-items');
			//$('.option-dropdown i').removeClass('selected');

			// don't slide up if clicking on the already visible element
			if (!options.is(':visible')) {
				$('.option-items').slideUp();
				//$('.option-dropdown i').toggleClass('selected');
			}
			// only slide clicked element
			options.slideToggle()

		});
	});
</script>
{{!-- for select function inside material report form tab --}}
<script>
	$(document).ready(function () {
		// Save all selects' id in an array
		// to determine which select's option and value would be changed
		// after you select an option in another select.
		var selectors = ['selectLevel', 'selectSubject', 'selectTopic',]

		$('select').on('change', function () {
			var index = selectors.indexOf(this.id)
			var value = this.value

			// check if is the last one or not
			if (index < selectors.length - 1) {
				var next = $('#' + selectors[index + 1])

				// Show all the options in next select
				$(next).find('option').show()
				if (value != "") {
					// if this select's value is not empty, hide some other options
					$(next).find('option[data-value!=' + value + ']').hide()
				}
				// set next select's value to be the first option's value
				// and trigger change()
				$(next).val($(next).find("option:first").val()).change()
			}
		})
	});

</script>

{{!-- for navigation items --}}
<script type="text/javascript">
	$(document).ready(function () {
		$('.nav_btn').click(function () {
			$('.mobile_nav_items').toggleClass('active');
		});
	});
</script>



{{!-- for inner project item display --}}
<script>
	$(function () {

		$('.project_dropdown').on('click', function () {
			var slide_el = $(this).next().find('.project_actions');

			// don't slide up if clicking on the already visible element
			if (!slide_el.is(':visible')) {
				$('.project_actions').slideUp();
			}
			slide_el.slideToggle(); // only slide clicked element
		});

	});
</script>

{{!-- dropdowns for project action lists --}}
<script>
	$(function () {

		$('.dropdown').on('click', function () {
			var slide_el = $(this).next().find('.project_actions');

			// don't slide up if clicking on the already visible element
			if (!slide_el.is(':visible')) {
				$('.project_actions').slideUp();
			}
			slide_el.slideToggle(); // only slide clicked element
		});

	});
</script>

</html>